.root {
  display: block;
  margin-top: 30px;

  &--wrapped {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);

    .container {
      padding-top: 50px;
    }
  }
}

.container {
  border-top: 2px solid #1e1e2e;
  padding-top: 60px;
  padding-bottom: 65px;

  @media (min-width: 768px) {
    padding-top: 50;
    padding-bottom: 70px;
  }
}

.social-media-container,
.links-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.social-media-container {
  margin-bottom: 50px;
  gap: 10px;

  &--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #1e1e2e;
    border-radius: 10px;
    overflow: hidden;

    svg {
      color: var(--theme-light-color);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--theme-light-color);
      opacity: 0;
      transition: all 0.15s;
    }

    &:hover:before {
      opacity: 0.1
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.links-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 50px;

  a {
    color: var(--theme-grey900-color);

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: 768px) {
    gap: 40px;
    flex-direction: row;
  }
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 13px;
  row-gap: 20px;
}

.copyrightLink {
  color: #68687b;
  font-size: 12;
}
