.footer {
  background: #080629;
  grid-area: footer;
  margin-top: auto;
  padding-top: 70px;

  .sLinksWrap {
    margin-top: 14px;
  }

  .sLink {
    display: inline-flex;
    margin-right: 16px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #131044;
    border: 1px solid #2E2978;
    border-radius: 4px;
    color: #fff;

    @media (max-width: 768px) {
      width: 44px;
      height: 44px;
      margin: 0 8px 16px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    > svg {
      color: #fff;
    }

    &:hover,
    &:active {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  .linkTitle {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #9898B1;
    margin-bottom: 20px;
  }

  .linkAnchor {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
  }

  .linkLandWorks {
    font-weight: 700;
    color: #d92687;
  }

  .text {
    color: #FFFFFF;
    font-size: 16px;
  }

  .copyrightsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .copyrightLinks {
      margin-left: auto;
      display: flex;
    }

    .copyrightLink {
      color: rgba(255, 255, 255, 0.4);
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }

    a.copyrightLink:hover {
      color: #fff;
    }

    .copyrightLink + .copyrightLink {
      margin-left: 14px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 0;

      .copyrightLinks {
        margin: 20px 0 0;
        flex-direction: column;
      }

      .copyrightLink + .copyrightLink {
        margin: 20px 0 0;
      }
    }
  }
}
