.root {
  height: var(--explore-filters);
  padding: 10px var(--horizontal-padding) 0;
  position: relative;
}

.container {
  // position: absolute;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
}

.box {
  display: flex;
  align-items: center;
}
