@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.filterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px var(--horizontal-padding);
}

.filterButton,
.dropdownButton,
.filterButtonShort {
  background-color: $grey01;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  color: $light;
}

.dropDownItems {
  display: flex;
  flex-direction: column;
}
.filterButtonShort {
  min-width: 153px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1000px) {
    min-width: 100px;
  }
}
.dropdownButton,
.filterButton {
  min-width: 200px;
  @media (max-width: 1000px) {
    min-width: 150px;
  }
}

.dropdownRotate {
  transform: rotate(180deg);
}

.dropdown {
  transform: rotate(0deg);
}

.select {
  &:before {
    // normal
    border-bottom: 1px solid orange
  };
  &:after {
    // focused
    border-bottom: 3px solid green
  };
  &:hover:not(.Mui-disabled):not(.Mui-focused):not(.Mui-error):before {
    // hover
    border-bottom: 2px solid purple
  }
}

.menuItemRoot {
  background-color: green;
}
