@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.lands-container {
  .filters {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    @media all and (max-width: 645px) {
      margin-bottom: 20px;
    }

    > div {
      @media all and (max-width: 645px) {
        width: 100%;
        margin-bottom: 15px;

        > div {
          width: 100%;
          text-align: center;
          span:nth-of-type(2) {
            padding-right: 0;
          }
        }
      }
    }
  }

  .actions-container {
    margin-bottom: 30px;
  }
}

.lands-pagination {
  margin-top: 60px;

  .ant-pagination-options-size-changer {
    position: absolute;
    right: 0;
    top: 0;
    .ant-select-selector {
      background: none;
    }

    .ant-select-arrow {
      color: white;
    }
  }

  .ant-pagination-item,
  .ant-pagination-item-link,
  .ant-select-selector {
    color: $white;
    border-radius: 10px;
    a {
      color: $white;
    }
    font-weight: 700;
    background: none;

    &:hover {
      border: 1px solid #e255cf;
    }
  }

  .ant-select-selector {
    border: 1px solid #f2edf1 !important;
  }

  .ant-pagination-item-active {
    background: none;
    border: 1px solid #e255cf;
    a {
      color: $white !important;
    }
  }

  .ant-pagination-options {
    display: inline-block;
  }
}

.lands-claim-container {
  justify-content: flex-end;
  display: flex;
}
