@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.lands-container {
  .filters {
    margin-bottom: 40px;

    .ant-input-prefix {
      margin-left: 10px;
      margin-right: 12px;
      color: rgba(0, 0, 0, 0.2);
    }

    .ant-select-single {
      font-size: 14px;
      font-weight: 400;
    }

    .ant-input-affix-wrapper {
      border: 1px solid #f2edf1;
    }
  }

  .actions-container {
    margin-bottom: 30px;
  }
}

.lands-pagination {
  margin-top: 60px;

  .ant-pagination-options-size-changer {
    position: absolute;
    right: 0;
    top: 0;
    .ant-select-selector {
      background: none;
    }

    .ant-select-arrow {
      color: white;
    }
  }

  .ant-pagination-item,
  .ant-pagination-item-link,
  .ant-select-selector {
    color: $white;
    border-radius: 10px;
    a {
      color: $white;
    }
    font-weight: 700;
    background: none;

    &:hover {
      border: 1px solid #e255cf;
    }
  }

  .ant-select-selector {
    border: 1px solid #f2edf1 !important;
  }

  .ant-pagination-item-active {
    background: none;
    border: 1px solid #e255cf;
    a {
      color: $white !important;
    }
  }

  .ant-pagination-options {
    display: inline-block;
  }
}

.lands-claim-container {
  justify-content: flex-end;
  display: flex;
}
