.how-it-works-wrapper {
  padding: 120px 0 180px;

  @media all and (max-width: 1024px) {
    padding: 60px 0 90px;
  }
  
  background: var(--theme-card-color) url('../../../../resources/png/how-it-works.png') no-repeat bottom right;

  .how-it-works-bullets {
    svg {
      width: 100%;
      height: auto;
    }

    .how-it-works-title {
      text-align: center;

      @media all and (max-width: 1024px) {
        margin-bottom: 15px;
      }
    }

    h3 {
      font-size: var(--font-size-h3);
      font-weight: 700;
      text-transform: uppercase;
      color: var(--theme-primary-color);
      line-height: 1.2;
    }

    p {
      margin-top: 7px;
      font-weight: 600;
      color: var(--theme-subtle-color);
      font-size: var(--font-size-p1);
    }

    .left-bullets {
      text-align: right;

      div:first-of-type {
        margin-top: 127px;
      }

      div:last-of-type {
        margin-top: 89px;
        margin-right: -40px;
      }

      @media all and (max-width: 1024px) {
        div:first-of-type {
          margin-top: 35%;
        }

        div:last-of-type {
          margin-top: 20%;
          margin-right: 0;
        }
      }

      @media all and (max-width: 768px) {
        text-align: center;
        div:first-of-type {
          margin-top: 10px;
        }

        div:last-of-type {
          margin-top: 10px;
          margin-right: 0;
        }
      }
    }

    .right-bullets {
      div:first-of-type {
        margin-top: 127px;
      }

      div:last-of-type {
        margin-top: 89px;
        margin-left: -40px;
      }

      @media all and (max-width: 1024px) {
        div:first-of-type {
          margin-top: 35%;
        }

        div:last-of-type {
          margin-top: 20%;
          margin-left: 0;
        }
      }

      @media all and (max-width: 768px) {
        text-align: center;
        div:first-of-type {
          margin-top: 10px;
        }

        div:last-of-type {
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }
}
