@import "../../../../styles/variables.scss";
@import "../../../../styles/text.scss";

#owned-container {
  // margin-top: 59px;
  // margin-bottom: 50px;

  #header {
    font-size: 42px;
    font-weight: 700;
    color: $black;
    margin-bottom: 40px;
    margin-top: 20px;
    line-height: 42px;
  }
  #filters {
    margin-bottom: 40px;

    .ant-input-prefix {
      margin-left: 10px;
      margin-right: 12px;
      color: rgba(0, 0, 0, 0.2);
    }

    .ant-input-affix-wrapper {
      border: 1px solid #F2EDF1;
    }
  }
  #metapasses {
    margin: 10px 0px;
  }
  #metapass-search-input {
    height: 50px;
    max-height: 50px;
    background-color: #FFFFFF;
  }
}

.my-nfts-pagination {
  margin-top: 60px;

  .ant-pagination-options-size-changer {
    position: absolute;
    right: 0;
    top: 0;
  }

  .ant-pagination-item, .ant-pagination-item-link, .ant-select-selector {
    border-radius: 10px;
    color: $black;
    font-weight: 700;
  }

  .ant-select-selector {
    border: 1px solid #F2EDF1 !important;
  }

  .ant-pagination-item-active {
    border: 1px solid #E255CF;
    a {
      color: $black !important;
    }
  }

  .ant-pagination-options {
    display: inline-block;
  }
}

