.claim-input-container {
  padding: 16px 20px;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  border: 2px solid transparent;
  background: var(--theme-modal-color);
  text-align: left;
  margin-bottom: 0.75rem;

  .price {
    display: flex;
    justify-content: flex-end;
  }

  .price-checkbox {
    color: var(--theme-primary-color);
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
  }

  &.checked {
    border: 2px solid var(--theme-primary-color);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);

    .price-checkbox {
      color: var(--theme-accent-color);
    }
  }

  .eth-icon {
    height: 20px;
    vertical-align: text-bottom;
  }
}
