.about-wrapper {
  position: relative;
  padding-bottom: 210px;

  @media all and (max-width: 1024px) {
    padding-bottom: 110px;
  }

  &:after {
    content: '';
    height: 62px;
    width: 1px;
    background: var(--theme-line-color);
    position: absolute;
    bottom: 64px;
    left: 50%;
  }

  p {
    font-size: var(--font-size-p1);
    text-align: center;
    position: relative;
    font-weight: 600;
  }

  .description {
    text-transform: uppercase;
    color: var(--theme-subtle-color);
    margin: 0;
    padding: 56px 0 130px;

    @media all and (max-width: 1024px) {
      padding-bottom: 45px;
    }

    &:before {
      content: '';
      height: 32px;
      width: 1px;
      background: var(--theme-line-color);
      position: absolute;
      top: 0;
      left: 50%;
    }
  }

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-top: 25px;
      font-size: var(--font-size-landing-h2);
      color: var(--theme-accent-color);
      text-transform: uppercase;
      font-weight: 700;
    }

    p {
      margin-top: 14px;
    }
  }
}
