.rent-modal {
  max-width: 730px;
  margin-top: 1rem;
  position: relative;

  .title {
    text-align: center;
    margin-bottom: 10px;
  }
  
  &-wrapper {
    max-height: 50vh;
    overflow: auto;
  }

  .light-text {
    display: flex;
    align-items: center;
    color: #f8f8ff;
    font-size: 16px;
    font-weight: bold;
  }

  .title-period {
    display: flex;
  }

  .approve-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-right: 20px;
    }

    button {
      padding: 7px 20px;
      color: var(--theme-primary-color) !important;
    }
  }

  .bold-white-text {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
  }

  .info-icon {
    color: var(--theme-subtle-color);
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
  }

  .profile-icon,
  .warning-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    color: #5d8ff0;
  }

  .warning-icon {
    margin: 0;
    margin-top: 5px;
  }
  .operator-container {
    display: flex;
    flex-direction: column;

    .operator-text {
      color: #f8f8ff;
      font-size: 13px;
    }

    .operator-input {
      width: 100%;
      margin: 8px 0;
    }
    .operator-address {
      margin-top: 5px;
      padding: 10px;
      background: #161622;
      border-radius: 12px;
      color: rgba(185, 185, 211, 1);
    }
    input {
      padding: 10px;
      background: #27273a;
      border-radius: 12px;
      font-weight: 400;
    }
  }

  .rent-modal-footer {
    background: #27273a;
    border-radius: 12px;
    padding: 15px;
    margin-top: 10px;
    width: 60%;
    margin: auto;

    .summary {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;

      .rent-period,
      .rent-price {
        text-align: initial;
        font-size: 12px;
        .price-summary > * {
          margin-right: 3px;
        }
        p {
          text-transform: uppercase;
        }
        span {
          color: #f8f8ff;
        }
        img {
          height: 15px;
          width: 15px;
        }
        .price {
          margin-left: 3px;
          span {
            color: var(--theme-subtle-color);
          }
        }
      }
    }
  }

  .info {
    width: 100%;
    background: rgba(93, 142, 240, 0.2);
    padding: 10px 16px;
    border-radius: 10px;
    text-align: initial;
    font-size: 12px;
    font-weight: normal;

    h3 {
      font-size: 12px;
    }

    .info-warning-text {
      width: 100%;
    }
  }
  .button-container {
    width: 55%;
    gap: 10px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

    .rent-button {
      color: var(--theme-primary-color);
      min-width: 200px;
      max-width: 300px;
      padding: 0 16px;
      font-size: 14px;
      height: 44px;
    }
  }
  .divider {
    width: 100%;
    margin: 10px 0;
    border-color: #27273a;
    border-width: 1px;
  }
}

.modal-propety {
  height: 100%;
  top: 0;

  .css-j1papt {
    top: 0;
    padding-top: 40px;
    padding-bottom: 0;
    height: auto;
    .circular {
      z-index: 100;
    }
  }
}

.error-wrapper {
  background: var(--theme-warning-background);
  border: 1px solid var(--theme-warning-border);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 14px;
  text-align: center;
  font-size: 12px;
  color: var(--theme-warning-color);
  margin: 10px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
