@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.single-card-section {
  margin-bottom: 20px;

  .head-nav {
    display: flex;
    justify-content: space-between;

    .right-wrapper {
      display: flex;
    }

    button.back-btn {
      padding: 10px 25px 10px 20px !important;
      border-radius: 23px;
      color: rgba(93, 143, 240, 1) !important;
      background: #27273a;
      border-radius: 23px;
      margin-right: auto;

      svg {
        color: rgba(93, 143, 240, 1) !important;
        height: 15px;
        vertical-align: middle;
      }
    }

    button.edit-btn {
      padding: 10px 20px 10px 20px !important;
      border-radius: 12px;
      background: #177ddc;
      color: white !important;
      margin-right: auto;
    }
  }

  .pooling-section {
    border-top: 1px solid #ebeaf5;
    margin-top: 20px;
    padding-top: 30px;

    .pooling-heading {
      font-weight: 700;
      font-weight: 16px;
      color: rgba(179, 177, 207, 1);
    }

    .pooling-description {
      font-weight: 400;
      color: rgba(179, 177, 207, 1);
      margin-left: 10px;
    }
  }

  .button-subtle {
    padding: 10px 25px 10px 20px !important;
    border-radius: 23px;
    color: rgba(93, 143, 240, 1) !important;
    background: #27273a;
    border-radius: 23px;
    margin-right: auto;
    font-weight: 700;
    border: none;
  }
}
