@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.single-card-section {
  margin-bottom: 20px;

  .head-nav {
    display: flex;
    justify-content: space-between;

    .right-wrapper {
      display: flex;
      align-items: flex-start;

      .button-primary:hover {
        color: var(--theme-primary-color);
      }
    }

    button {
      margin-bottom: 20px;

      .edit-btn {
        padding: 10px 20px 10px 20px !important;
        border-radius: 12px;
        background: #177ddc;
        color: var(--theme-primary-color) !important;
        margin-right: auto;
      }
    }
  }

  .pooling-section {
    .pooling-title {
      display: flex;
      margin: 50px 0 30px;
    }

    .pooling-heading {
      font-weight: 700;
      font-weight: 16px;
      color: rgba(179, 177, 207, 1);
      margin-right: 18px;
    }

    .pooling-description {
      font-weight: 400;
      color: rgba(179, 177, 207, 1);
      margin-left: 10px;
    }
  }

  span .button-subtle:disabled {
    pointer-events: none;
  }

  .button-subtle {
    padding: 10px 25px !important;
    border-radius: 12px;
    color: rgba(93, 143, 240, 1) !important;
    background: var(--theme-modal-color);
    margin-right: auto;
    font-weight: 700;
    border: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: var(--theme-line-color);
    }

    &:disabled {
      opacity: 0.5;

      &:hover {
        background: var(--theme-modal-color);
      }
    }
  }

  .button-accent {
    padding: 10px 25px !important;
    border-radius: 12px;
    background: var(--theme-accent-color);
    color: var(--theme-primary-color) !important;
    margin-right: auto;
    font-weight: 700;
    border: none;
    transition: all 0.2s ease-out;
    box-shadow: var(--theme-accent-shadow);

    &:hover {
      background: var(--theme-accent-hover-color);
      box-shadow: var(--theme-accent-shadow);
    }

    &:disabled {
      opacity: 0.5;

      &:hover {
        background: var(--theme-accent-color);
      }
    }
  }
}
