@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.single-card-section {
  margin-bottom: 20px;

  .head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .right-wrapper {
      margin: 0 20px 20px;

      @media all and (min-width: 768px) {
        margin: 0;
      }

      .button-primary:hover {
        color: var(--theme-primary-color);
      }

      button {
        margin-right: 15px;
        margin-bottom: 15px;

        @media all and (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .head-breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;

    .button-back,
    .button-explore {
      font-size: 14px;
    }

    .button-icon {
      background: #1e1e2e;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .separator {
      margin: 0 20px;
      width: 20px;
      height: 0px;
      border-radius: 2px;

      border: 1px solid #27273a;
      transform: rotate(90deg);
    }

    .current-land {
      color: white;
    }
    @media all and (max-width: 500px) {
      .button-icon {
        margin-left: 10px;
        margin-right: 0;
      }
      .separator {
        margin: 0 5px;
      }
      .current-land {
        margin-left: auto;
        margin-right: 15px;
      }
    }
  }

  .nearby-section {
    .nearby-title {
      display: flex;
      align-items: center;
      margin: 50px 0 0;
    }

    .nearby-heading {
      font-weight: 700;
      font-size: 30px;
      color: #f8f8ff;
      margin-right: 18px;

      .nearby-description {
        font-weight: 400;
        color: rgba(179, 177, 207, 1);
        margin-left: 10px;
      }
    }

    span .button-subtle:disabled {
      pointer-events: none;
    }
    @media all and (max-width: 450px) {
      .nearby-heading {
        font-size: 20px;
      }
    }
  }
}

.single-lands-pagination {
  display: flex;
  justify-content: flex-end;

  button {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #27273a;
    display: flex;
    align-items: center;
    margin: 5px;

    &:disabled {
      color: #68687b;
      background: #27273a;
    }
  }
}
