.list-view {
  margin: 40px auto 0;
  width: 800px;

  @media all and (max-width: 1024px) {
    width: 100%;
  }

  .list-view-wrapper {
    padding: 22px;
    margin: 0px 0px 40px 0px;
    border-bottom: none;
    background: var(--theme-modal-color);
  }

  .drop-heading {
    margin-bottom: 8px;
  }

  .rent-period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--theme-checkbox-color);
    padding-bottom: 20px;
  }

  .checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  .future-period-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .period-wrapper {
      display: flex;
      align-items: center;
    }

    @media all and (max-width: 678px) {
      flex-direction: column;
      align-items: flex-start;

      .period-wrapper {
        margin-bottom: 20px;
      }
    }
  }

  .currency-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span {
      margin: 0 10px;
      color: var(--theme-subtle-color);
    }

    .price-input-wrapper {
      background: var(--theme-body-color);
      border-radius: 12px;
      margin-left: 12px;
      display: flex;
      align-items: center;
      height: 36px;
    }
  }

  .ant-checkbox-inner {
    width: 20px;
    height: 20px;
    background-color: var(--theme-checkbox-color);
    border-color: var(--theme-checkbox-color);
    margin-right: 5px;

    &:after {
      left: 5px;
      top: 8px;
    }
  }

  .ant-checkbox-wrapper {
    margin-right: 6px;

    .ant-checkbox-inner {
      border-color: transparent !important;
    }
  }

  .ant-checkbox:hover::after,
  .ant-checkbox-wrapper:hover .ant-checkbox::after {
    visibility: hidden !important;
  }

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      width: 20px;
      height: 20px;
      background-color: var(--theme-accent-color);
      border-color: var(--theme-accent-color);
    }
  }

  .price-container {
    background: #1e1e2e;
    border-radius: 4px;
    padding: 10px 15px;
  }

  .price-eth-input {
    margin-left: 13px;
    font-size: 16px;
    font-weight: 700;
  }

  .price-usd-input {
    margin-right: 13px;
    color: var(--theme-subtle-color);

    &::placeholder {
      color: var(--theme-subtle-color);
    }
  }

  .action-btn {
    font-size: 14px;
    display: inline-block;
    padding: 10px 20px;
  }

  .step {
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
  }

  .earning-text {
    font-size: 16px;
    font-weight: 700;
    color: rgba(93, 143, 240, 1);
  }

  .your-earning-container {
    background: rgba(93, 143, 240, 0.4);
    border: 1px solid #5d8ff0;
    border-radius: 4px;
    padding: 5px 10px;
  }
}

.error-wrapper {
  background: var(--theme-warning-background);
  border: 1px solid var(--theme-warning-border);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 14px;
  text-align: center;
  font-size: 12px;
  color: var(--theme-warning-color);
  margin-top: 20px;
}

.info-icon {
  width: 16px;
  height: 16px;
  margin-left: 7px;
  fill: var(--theme-subtle-color);
}
