@import "../../../../styles/variables.scss";
@import "../../../../styles/utils.scss";

.mint-container {
    min-height: 586px; // Desktop
    background: url("./assets/background.svg");

    .h1-bold {
        color: $white;
    }

    .mint-heading {
        margin-bottom: 18px;
    }

    .mint-at-a-time-heading {
        font-size: $h3;
        color: $white;
    }

    .price-block {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        color: $white;

        .eth-sign {
            margin: 0px 10px;
        }
    }

    .mint-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .mint-btn {
            height: 40px;
            box-shadow: 0px 4px 8px 0px rgba(221, 61, 203, 0.38);
            border-radius: 4px;
            font-size: $text;
        }
    }

    .description {
        margin-bottom: 50px;
    }

    // Mobile styles
    @include md {
        justify-content: center;
        height: 100%;

        .controller-container {
            height: 180px;
        }

        .price-block {
            justify-content: center;
        }

        .description {
            margin-bottom: 50px;
        }
    }

}