
@import '../../../../styles/utils.scss';

.wrapper {
  background-color: var(--theme-modal-color);
  height: 52px;
  align-items: center;
  border-radius: 10px;
  position: relative;
  width: 100%;

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  span {
    max-width: 85px;
    overflow: hidden;
    margin-right: 10px;
  }
}

.divider {
  margin: 15px 0 !important;
  background-color: var(--theme-grey700-color);
}

.input {
  background: none;
  border: none;
  padding: 16px;
  min-width: 0;
  max-width: 140px;
  color: var(--theme-light-color),
}

.dropdownBox {
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
