.wrapper.lands-search {
  background: var(--theme-modal-color);
  border: none;
  border-radius: 50px;
  padding: 9px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;

  input {
    background: none;
    border: none;
    color: white;
  }

  input::placeholder {
    color: white;
  }

  form:-webkit-autofill,
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--theme-modal-color) inset !important;
    -webkit-text-fill-color: white !important;
  }
}
