.claim-modal {
  .subtitle {
    margin-bottom: 20px;
  }

  .max-transaction-limit {
    background: var(--theme-warning-background);
    border: 1px solid var(--theme-warning-border);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 14px;
    text-align: center;
    font-size: 12px;
    color: var(--theme-warning-color);
    margin: 5px 0 10px;
  }

  .claim-modal-footer {
    background: transparent;
    border-radius: 10px;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--theme-checkbox-color);

    .prices-container {
      align-items: center;
      display: flex;
    }

    .total-label {
      font-size: 16px;
      font-weight: 600;
      color: var(--theme-subtle-color);
      margin-right: 10px;
      padding-left: 20px;
    }

    .total-price {
      display: inline-block;
      background: var(--theme-card-color);
      font-size: 18px;
      font-weight: 500;
      color: var(--theme-primary-color);
      padding: 3px 8px;
      border-radius: 4px;
      margin-right: 5px;

      svg {
        width: 15px;
        vertical-align: text-top;
      }
    }

    .claim-button {
      display: inline;
      padding: 8px 20px;
      text-transform: uppercase;
      color: var(--theme-primary-color);

      &:hover {
        color: var(--theme-primary-color);
      }
    }
  }
}
