@import '~react-toastify/dist/ReactToastify.css';
@import '~react-loading-skeleton/dist/skeleton.css';
@import 'leaflet/dist/leaflet.css';
@import 'flex';
@import 'grid';
@import 'box';
@import 'text';
@import 'utils';
@import 'button';
@import 'rechart';
@import 'scrollbar';

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  background: var(--theme-body-color);
  color: var(--theme-secondary-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-block-size: 100%;
  min-inline-size: 100%;
}

body[data-fixed='true'] {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: unset;
}

svg,
svg * {
  transition: none !important;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

#root {
  min-height: 100vh;
}

body.mobile-menu-open {
  overflow: hidden;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --font-size-landing-h1: 46px;
  --font-size-landing-h2: 24px;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-p1: 16px;
  --font-size-p2: 14px;
  --font-size-lb1: 14px;
  --font-size-lb2: 12px;
  --font-size-sm: 12px;  
  
  --theme-body-color: #161622; // grey50
  --theme-card-color: #1e1e2e;
  --theme-overlay-color: #1f1b59;
  --theme-mask-color: rgba(32, 37, 41, 0.8);
  --theme-border-color: #1a164f;
  --theme-line-color: #414163;
  --theme-icon-color: #606268;
  --theme-icon-hover-color: #fff;
  --theme-icon-hover-gradient: linear-gradient(135deg, #dd3dcb 15%, #ef9c92 85%);
  --theme-modal-overlay: rgba(0, 0, 0, 0.7);
  --theme-modal-color: #27273a;
  --theme-light-color: #f8f8ff;
  --theme-primary-gradient: linear-gradient(83.81deg, #ac2ccb -19.8%, #dd3dcb 22%, #ef9c92 100%);
  --theme-separator-color: #27273a;
  --theme-checkbox-color: #414163;
  --theme-warning-color: #d92687;
  --theme-warning-border: #4d2f3f;
  --theme-warning-background: #321e29;
  
  --theme-primary-box-shadow: rgba(221, 61, 203, 0.6);
  
  --theme-primary-color: #fff;
  --theme-secondary-color: #b3b1cf;
  --theme-secondary-color-rgb: 113, 121, 128; // grey500
  --theme-default-color: #b3b1cf;
  --theme-subtle-color: #b9b9d3;
  --theme-accent-color: #5d8ff0;
  --theme-accent-hover-color: #7aa6fc;
  --theme-black-color: #0b0834;
  --theme-blackish-color: #252155;
  --theme-pinkish-color: #fceffb;
  --theme-brown-color: #552c49;
  --theme-red-color: #d7606e;
  --theme-red-color-rgb: 255, 73, 73; // red500
  --theme-green-color: #6cd27e;
  --theme-green-color-rgb: 42, 208, 202; // green500
  --theme-neon-pink-color: #dd3dcb;
  --theme-yellow-color: #dfb068;
  
  --theme-green700-color: #007f59;
  
  --theme-blue-color: #4f6ae6; // blue500
  --theme-blue-color-rgb: 79, 106, 230; // blue500
  --theme-blue400-color: #7288ea;
  
  --theme-yellow-color: #cca74d; // yellow600
  --theme-yellow-color-rgb: 204, 167, 77; // yellow600

  --theme-purple-color: #a26ee3; // purple500
  --theme-purple-color-rgb: 162, 110, 227; // purple500
  --theme-purple700-color: #614288;

  --theme-grey100-color: #060a0d;
  --theme-grey200-color: #27273a;
  --theme-grey400-color: #3a3a4e;
  --theme-grey700-color: #68687b;
  --theme-grey900-color: #f8f8ff;

  --theme-white-color: #fff;

  --horizontal-padding: 64px;

  --gradient-green: linear-gradient(135deg, #2dd867 15.57%, #27ddc3 84.88%); // rgb(188, 235, 0) rgb(0, 234, 234)
  --gradient-green-opacity: linear-gradient(135deg, rgba(188, 235, 0, 0.16) 15.57%, rgba(0, 234, 234, 0.16) 84.88%);
  --gradient-green-safe: #2ad0ca;
  --gradient-red: linear-gradient(135deg, #de4b4b 0%, #f15e1f 100%); // rgb(255, 116, 57) rgb(255, 57, 188)
  --gradient-red-opacity: linear-gradient(135deg, rgba(255, 116, 57, 0.16) 15.57%, rgba(255, 57, 188, 0.16) 84.88%);
  --gradient-red-safe: #ff4949;
  --gradient-blue: linear-gradient(135deg, #81b5f3 0%, #13a5d3 100%); // rgb(145, 79, 230) rgb(49, 108, 223)
  --gradient-blue-opacity: linear-gradient(135deg, rgba(145, 79, 230, 0.16) 15.57%, rgba(49, 108, 223, 0.16) 84.88%);
  --gradient-blue-safe: #81b5f3;
  --gradient-pink: linear-gradient(135deg, #dd3dcb 0%, #ef9c92 100%);

  --theme-tooltip-bg: #f9f0f8;
  --theme-tooltip-item-bg-active: #ef9c92;

  --theme-header-shadow: 5px 0px 20px #f1dbee;
  --theme-selection-color: #ef9c92;

  --navbar-height: 107px;
  --explore-subheader: 70px;
  --explore-filters: 45px;

  --theme-card-shadow: 0px 12px 25px #161344;
  --theme-modal-shadow: 0px 12px 25px #161344;
  --theme-overlay-shadow: 0px 12px 25px #161344;
  --theme-accent-shadow: 0 0 20px rgba(93, 143, 240, 0.5);

  --theme-input-background: #1d1d1d;
  --theme-input-placeholder: #606268;

  --theme-tooltip-bg: #1f1b59;
  --theme-tooltip-item-bg-active: #161344;

  --theme-header-shadow: 0px 12px 25px #161344;

  --toastify-color-light: var(--theme-primary-color);
  --toastify-color-dark: var(--theme-modal-color);
  --toastify-color-info: #5d8ff0;
  --toastify-color-success: #9bed7e;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #ed7676;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-color-dark: var(--theme-modal-color);
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: var(--theme-modal-color);
  --toastify-text-color-dark: var(--theme-primary-color);
}

@media (max-width: 1024px) {
  :root {
    --font-size-landing-h1: 32px;
    --font-size-landing-h2: 18px;
    --font-size-h1: 24px;
    --font-size-h2: 18px;
    --font-size-h3: 14px;
    --font-size-p1: 12px;
    --font-size-p2: 11px;
    --font-size-lb1: 11px;
    --font-size-lb2: 9px;
    --font-size-sm: 9px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-landing-h1: 26px;
    --font-size-landing-h2: 16px;
    --horizontal-padding: 24px;
  }
}

:focus:not(:focus-visible) {
  outline: 0;
}

body.using-mouse :focus {
  outline: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tag-icon {
  width: 20px !important;
  height: 20px !important;
}

#notifications-root {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;

  &:empty {
    display: none;
  }
}

.link-gradient:hover {
  opacity: 0.7;
}

ul {
  ::marker {
    color: var(--theme-primary-color);
  }
}

a {
  text-decoration: none;
  color: #177ddc;

  &:hover {
    color: #165996;
  }

  &:active {
    color: #388ed3;
  }
}
