.content-container {
  --content-container-v-padding: 40px;

  padding: var(--content-container-v-padding) var(--horizontal-padding);
  width: 100%;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    --content-container-v-padding: 24px;
  }
  @media (max-width: 400px) {
    padding: 0 17px
  }
}

.hidden-mobile {
  @media (max-width: 480px) {
    display: none !important;
  }
}

.hidden-tablet {
  @media (min-width: 481px) and (max-width: 767px) {
    display: none !important;
  }
}

.hidden-desktop {
  @media (min-width: 768px) {
    display: none !important;
  }
}

iframe {
  pointer-events: none;
}
