// Font Weight
$h1-bold: 700;

// Colors
$black: #0b0834;
$blackish: #252155;
$pinkish: #83767f;
$pink: #dd3dcb;
$pinkish: #fceffb;
$lightPink: #ffecfd;
$white: #ffffff;
$grayish: #f2edf1;
$brown: #552c49;

// new design
$primaryGradient: linear-gradient(83.81deg, #ac2ccb -19.8%, #dd3dcb 22%, #ef9c92 100%);
$accentBlue: #5d8ff0;
$red: #d7606e;
$yellow: #dfb068;
$green: #6cd27e;
$neonPink: #dd3dcb;
$peachPink: #EF9C92;
$darkBlue01: #161622;
$darkBlue02: #1e1e2e;
$grey01: #27273a;
$grey02: #68687b;
$grey03: #b9b9d3;
$grey04: #3a3a4e;
$light: #f8f8ff;

// Font Size
$h1: 50px;
$h1-mobile: 38px;
$h2: 36px;
$h2-mobile: 24px;
$h3: 20px;

$text: 16px;
$text-sm: 15px;
$text-sm-mobile: 11px;

// Dimensions
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1230px;

// Large tablets and desktops
$screen-mobile-max: 1023px;

// Large tablets and desktops
$screen-tablet-max: 1366px;
