// Font Weight
$h1-bold: 700;

// Colors
$black: #0B0834;
$blackish: #252155;
$pinkish: #83767F;
$pink: #DD3DCB;
$lightPink: #FFECFD;
$white: #FFFFFF;
$grayish: #F2EDF1;


// Font Size
$h1: 50px;
$h1-mobile: 38px;
$h2: 36px;
$h2-mobile: 24px;
$h3: 20px;


$text: 16px;
$text-sm: 15px;
$text-sm-mobile: 11px;

// Dimensions
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1230px;


// Large tablets and desktops
$screen-mobile-max: 1023px;

// Large tablets and desktops
$screen-tablet-max: 1366px;