

.land-works-card-availability {
  display: inline-flex;
  align-items: center;
  background: var(--theme-body-color);
  color: var(--theme-grey900-color);
  border: 1px solid transparent;
  border-radius: 20px;

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;

  padding: 4px 11px;

  &::before {
    content: '';
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 7px;
  }

  &--status-available {
    border-color: #6cd27e;

    &::before {
      background-color: #6cd27e;
    }
  }

  &--status-rented {
    border-color: #d7606e;

    &::before {
      background-color: #d7606e;
    }
  }

  &--status-delisted {
    color: var(--theme-subtle-color);
    border-color: var(--theme-subtle-color);

    &::before {
      background-color: var(--theme-subtle-color);
    }
  }

  &--layout-compact {
    border: none;
    padding: 0;

    &::before {
      margin-right: 0;
      width: 12px;
      height: 12px;;
    }
  }

  &--layout-compact &__label {
    display: none;
  }
}
