

.available-sort-wrapper {
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #27273a;
  padding: 4px 20px;

  label {
    margin-right: 0 !important;
    display: flex !important;
    justify-content: center;
  }

  .label {
    font-size: 14px;
    color: var(--theme-primary-color);
    background-color: transparent;
    font-weight: 400;
    position: relative;
  }
}

.sort-image {
  width: 30px;
  height: 24px;
}
