@import "../../../../styles/variables.scss";

.available-sort-wrapper {
  border-radius: 23px;
  display: flex;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #27273A;
  border-radius: 23px;
  padding: 12px 20px;

  .label {
    font-size: 14px;
    color: white;
    margin-left: 10px;
  }
}

.sort-image {
  width: 30px;
  height: 24px;
}