@import '../../../../styles/variables.scss';

.available-sort-wrapper {
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #27273a;
  padding: 4px 20px;

  .label {
    font-size: 14px;
    color: var(--theme-primary-color);
    background-color: transparent;
    margin-left: 10px;
    font-weight: 400;
  }
}

.sort-image {
  width: 30px;
  height: 24px;
}
