.estate-overlay-container {
  position: absolute;
  bottom: 4%;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 100%;
  max-width: 217px;
  background-color: #161622;
  padding: 16px;
  border-radius: 20px;
  
  .title {
    font-size: 14px;
    color: #fff;
  }
}

.estate-land {
  background-color: #1e1e2e;
  color: var(--theme-subtle-color);
  font-size: 12px;
  border-radius: 5px;
  max-width: 88px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
