.operator {
  display: flex;
  align-items: center;
  .edit-btn {
    border: none;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    &:disabled svg {
      color: gray;
    }
  }
  .operator-input-link,
  input {
    width: 100%;
    color: #5d8ff0;
    font-size: 12px;
    padding: 0px 10px 0px 8px !important;
  }
  svg {
    color: white;
    height: 20px;
  }
}
