.ant-input.custom-lands-input {
  border: none;
  max-width: 40px;
  text-align: center;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--theme-primary-color);
  }
}
