@import 'styles/text.scss';

.blueBox {
  background: rgba(93, 143, 240, 0.1);
  height: 87px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.light {
  color: var(--theme-grey900-color);
  font-weight: 600;
}

.grey {
  color: var(--theme-grey700-color);
  font-weight: 600;
}

.amount {
  font-size: 18px;
  font-weight: 600;
  color: var(--theme-grey900-color) ;
}

.amount-label {
  color: var(--theme-accent-color)
}
