@import 'src/styles/text';

.component:global(.ant-select.ant-select-single) {
  min-height: 48px;
  position: relative;
  padding: 1px;
  border-radius: 23px;
  color: white !important;
  min-width: 170px;
  background: #27273A;

  &:global(.ant-select-focused) {
    :global(.ant-select-selector) {
      box-shadow: none !important;
      border-color: #FFFFFF !important;
    }
  }

  &:hover {
    background: #27273A;
  }

  &:global(.ant-select-sm) {
    height: 32px;

    :global(.ant-select-selector) {
      height: 32px;
      padding: 4px 24px 4px 16px;
    }
  }

  &:global(.ant-select-lg) {
    height: 64px;

    :global(.ant-select-selector) {
      height: 64px;
      padding: 20px 32px 20px 24px;
    }
  }

  &:global(.ant-select-open) {
    // background: linear-gradient(135deg, #DD3DCB 15.57%, #EF9C92 84.88%);
    background: #27273A;

    :global(.ant-select-arrow) svg {
      transform: rotate(-180deg);
    }

    :global(.ant-select-selector) {
      background: #27273A;
      box-shadow: none;
      border-color:white !important;
      border-radius: 23px;
    }
  }

  :global(.ant-select-selector) {
    background: #27273A;
    border: 1px solid var(--theme-border-color);
    height: 48px;
    padding: 12px 32px 12px 16px;
    border-radius: 23px;

    :global(.ant-select-selection-item),
    :global(.ant-select-selection-placeholder) {
      @include font-p1-semi-bold;
      color: white;
    }
  }

  :global(.ant-select-arrow) {
    height: 24px;
    margin: 0;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    color: white;

    :global(.ant-spin) {
      margin-top: 4px;
    }
  }
}

.dropdown:global(.ant-select-dropdown) {
  background: #27273A;
  border: 1px solid var(--theme-tooltip-bg);
  border-radius: 23px;
  padding: 4px;
  pointer-events: all !important;
  min-width: 170px;

  .option {
    height: 48px;
    padding: 12px;
    border-radius: 23px;

    &:global(.ant-select-item-option-selected) {
      background: #27273A;
    }

    :global(.ant-select-item-option-content) {
      @include font-p2-semi-bold;
      color: white;
      background: #27273A;
    }

    &:global(.ant-select-item-option-active) {
      background: #27273A;

      :global(.ant-select-item-option-content) {
        color: rgba(93, 143, 240, 1);
      }
    }
  }
}
