.lands-nav-container-mobile {
  padding: 0 30px;

  .menu-item-mobile {
    color: rgba(185, 185, 211, 1);
    text-align: center;
    padding: 8px;
    min-width: 90px;
    border-radius: 4px;
    background: #161622;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    background: #161622;

    &:hover {
      background: rgba(93, 143, 240, 1);
    }

    &.active {
      background: rgba(93, 143, 240, 1);
    }
  }

  .menu-item-mobile-divider {
    hr {
      margin: 0 auto;
      width: 93%;
    }
  }

  .menu-user-address {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin-left: 10px;
    }
  }
}
