.rent-modal-succes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;

  p {
    font-size: 30px;
    font-weight: bold;
    color: #f8f8f8;
  }
  span {
    margin-bottom: 30px;
  }
  .success-icon {
    height: 60px;
    width: 60px;
  }
  .loader {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    animation: loader 1.1s infinite linear;
  }
}
