.landing-page-wrapper {
  padding: 165px 0 140px 0;
  position: relative;
  overflow: hidden;

  @media all and (max-width: 660px) {
    padding: 200px 0 45px;
  }

  .left-blocks,
  .right-blocks,
  .hero-background {
    position: absolute;
  }

  .left-blocks {
    left: 0;
    top: 470px;

    @media all and (max-width: 1024px) {
      width: 200px;
      height: auto;
    }

    @media all and (max-width: 660px) {
      width: 100px;
      height: auto;
    }
  }

  .right-blocks {
    right: -120px;
    top: -107px;

    @media all and (min-width: 1440px) {
      top: -40px;
    }

  }

  .hero-background {
    left: 0;
    top: -107px;

    @media all and (min-width: 1450px) {
      width: 100%;
      
    }
    @media all and (max-width: 1024px) {
      svg {
        width: 400px;
        height: auto;
      }
    }

    @media all and (max-width: 660px) {
      svg {
        width: 200px;
        height: auto;
      }
    }
  }

  h2,
  h1 {
    font-weight: 700;
    line-height: 1;
  }

  h2 {
    margin-top: 20px;
    color: var(--theme-primary-color);
    font-size: 40px;
    margin-bottom: 4px;
    background: linear-gradient(83.81deg, #AC2CCB -19.8%, #DD3DCB 22%, #EF9C92 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    text-shadow: 0 0 5px #dd3dca42;
    line-height: 50px;
  }

  h1 {
    position: relative;
    font-size: var(--font-size-landing-h1);
    color: #F8F8FF;
  }
  p {
    color: #B9B9D3;
    max-width: 400px;
    margin: 20px 0;
  }

  .first-pattern,
  .second-pattern,
  .third-pattern,
  .first-ether,
  .second-ether,
  .third-ether {
    opacity: 0;
  }

  .partners {
    margin-top: 120px;
  }
}
