.wrapper {
  //padding: 165px 0 90px;
  position: relative;

  @media all and (max-width: 660px) {
    padding: 200px 0 45px;
  }

  .left-blocks,
  .right-blocks {
    position: absolute;
  }

  .left-blocks {
    left: 0;
    top: 470px;

    @media all and (max-width: 1024px) {
      width: 200px;
      height: auto;
    }

    @media all and (max-width: 660px) {
      width: 100px;
      height: auto;
    }
  }

  .right-blocks {
    right: 35px;
    top: 45px;

    @media all and (max-width: 1024px) {
      svg {
        width: 400px;
        height: auto;
      }
    }

    @media all and (max-width: 660px) {
      svg {
        width: 200px;
        height: auto;
      }
    }
  }

  h2,
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
  }

  h2 {
    color: var(--theme-primary-color);
    font-size: var(--font-size-landing-h2);
    margin-bottom: 4px;
  }

  h1 {
    position: relative;
    font-size: var(--font-size-landing-h1);
    color: var(--theme-accent-color);
    text-shadow: var(--theme-accent-shadow);
    padding-bottom: 75px;

    &:after {
      content: '';
      height: 32px;
      width: 1px;
      background: var(--theme-line-color);
      position: absolute;
      bottom: 22px;
      left: 60px;
    }
  }

  .first-pattern,
  .second-pattern,
  .third-pattern,
  .first-ether,
  .second-ether,
  .third-ether {
    opacity: 0;
  }
}
