@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.active-table-button {
  color: #f0f0f0;
  text-transform: uppercase;
  padding: 7px;
  width: 100px;

  background-color: #27273a;
}
