@import '../../../../styles/variables.scss';
@import '../../../../styles/utils.scss';

.root {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  transition: opacity 300ms;
  opacity: 0;
}

.block {
  padding: 10px;
  background: $darkBlue02;
  border-radius: 8px;
  box-shadow: 1px 1px 20px rgba(22, 22, 34, 0.5);
  text-transform: capitalize;
}
