.claim-component-container {
  width: 325px;
  border: 0;
  background: var(--gradient-pink);
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.29);
  border-radius: 4px;
  padding: 17px;

  .info-container {
    padding-right: 27px;

    .total-label {
      color: white;
      font-weight: 400;
      font-size: 14px;
    }

    .total-value {
      color: white;
      font-weight: 700;
      font-size: 22px;
    }

    .coin-icon {
      width: 22px;
      vertical-align: text-bottom;
    }
  }

  .claim-button {
    background: white !important;
  }
}
