.claim-component-container {
  width: 342px;
  height: 100px;
  border: 0;
  position: relative;

  .info-container {
    .total-label {
      color: var(--theme-primary-color);
      font-weight: 400;
      font-size: 14px;
      opacity: 0.8;
      padding-left: 30px;
      padding-top: 23px;
    }

    .total-value {
      color: var(--theme-primary-color);
      font-weight: 700;
      font-size: 20px;
      padding-left: 30px;
    }

    .coin-icon {
      width: 22px;
      vertical-align: text-bottom;
    }
  }

  .claim-button {
    margin-top: 25px;
    background: var(--theme-primary-color) !important;
  }

  .background {
    position: absolute;
    left: -100px;
    top: -100px;
    pointer-events: none;
  }
}
