@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--horizontal-padding) 10px;
  margin: 0;
  border-bottom: 2px solid $grey01;
  height: var(--explore-subheader);

  h1 {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 12px;
    //border-bottom: 2px solid $grey01;

    span {
      font-size: 14px;
      font-weight: 600;
      color: $grey03;
    }
  }
}

.list-new-property-button {
  width: 200px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 0px 1px 1px $neonPink;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .add-icon {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.add-token-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.button-primary {
  padding: 16px 20px;
}
