
@import '../../../../styles/text.scss';

.root {
  display: flex;
  padding: 40px 0;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--horizontal-padding) 15px;
  border-bottom: 2px solid var(--theme-modal-color);
  height: var(--explore-subheader);

  h1 {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255,255,255,.85);

    span {
      font-size: 14px;
      font-weight: 600;
      color: var(--theme-subtle-color);
    }
  }
}

.list-new-property-button {
  width: 200px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 0px 1px 1px var(--theme-neon-pink-color);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .add-icon {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.add-token-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.button-primary {
  padding: 16px 20px;
}
