@import '../../../../styles/variables.scss';
@import '../../../../styles/text.scss';

.single-land-card-container {
  background: #27273a;
  border-radius: 10px;
  padding: 20px 0px;

  .availability {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .rent-price {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    @media all and (max-width: 400px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        margin-top: 20px;
      }
    }

    .price-wrapper {
      flex-grow: 1;
    }

    button {
      flex-shrink: 0;
    }
  }

  .image-wrapper {
    max-height: 280px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media all and (max-width: 769px) {
      margin-bottom: 20px;
      max-height: 200px;
    }
  }

  .card-name {
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-right: 13px;
  }

  .label {
    background: #1e1e2e;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
  }

  .card-name-hot-label {
    color: #dd3dcb;
    font-weight: 700;

    svg {
      margin-right: 3px;
      position: relative;
      bottom: -1px;
    }
  }

  .card-name-estate-label {
    margin-left: 10px;
    color: var(--theme-accent-color);
  }

  .card-name-you-label {
    margin-left: 10px;
    color: #d92687;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    img.name-label {
      width: 13px;
      height: 13px;
      margin-right: 3px;
      vertical-align: baseline;
    }
  }

  .min-label {
    margin-right: 10px;
    color: #d92687;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
  }

  .max-label {
    margin-left: 10px;
    color: var(--theme-accent-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
  }

  .card-image {
    max-width: 100%;
  }

  .properties-container {
    .properties-row {
      padding: 20px 0;
    }

    .land-owner {
      color: rgba(93, 143, 240, 0.4);
      font-size: 12px;
      font-weight: 600;
    }

    .land-owner-address {
      color: rgba(93, 143, 240, 1);
      font-size: 16px;
      font-weight: 600;
    }

    .available-heading {
      color: #b9b9d3;
      font-size: 14px;
      font-weight: 400;
    }

    .delisted-heading {
      color: rgba(93, 143, 240, 1);
      font-size: 16px;
      font-weight: 600;
    }

    .available-period {
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }

    .rent-section {
      background: #1e1e2e;
      border-radius: 25px;
      padding: 15px 0px;

      @media all and (max-width: 500px) {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: 0;
        width: calc(100% + 40px);
        flex-basis: calc(100% + 40px);
        max-width: none;
      }

      .eth-price-container {
        display: flex;
        align-items: center;

        .price-eth {
          margin-left: 10px;
          // width: calc(100% - 34px);
          font-size: 20px;
          color: var(--theme-primary-color);
          font-weight: bold;
        }
      }

      .usd-price-container {
        display: flex;
        align-items: center;

        .price {
          font-size: 14px;
          margin-right: 35px;
        }
        .per-day {
          font-size: 14px;
          margin-right: 15px;
        }
        .info-icon {
          color: #b9b9d3;
          width: 16px;
          height: 16px;
        }
      }

      .rent-btn-container {
        display: flex;
        align-items: center;
      }
    }

    .operator-container {
      .current-address {
        display: flex;
        align-items: center;

        .info-icon {
          width: 16;
          height: 16px;
        }
      }

      .land-operator-address {
        color: rgba(93, 143, 240, 1);
        font-size: 14px;
        font-weight: 600;
      }

      .rented-on {
        font-weight: 400;
        color: rgba(185, 185, 211, 1);
      }

      .remaining-time {
        font-size: 16px;
        font-weight: bold;
        background: -webkit-linear-gradient(rgba(221, 61, 203, 1), rgba(239, 156, 146, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .operator-update-container {
      .info-warning-text {
        padding: 10px;
        color: #d92687;
        background: #321e29;
        border: 1px solid #4d2f3f;
        border-radius: 4px;
      }

      .update-operator-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          background: #f8f8ff;
          border-radius: 10px;
          padding: 10px 15px;
          color: #161622;
          font-size: 14px;
          font-weight: 600;
          border: none;
          &:disabled,
          &[disabled] {
            background: rgba(170, 175, 179, 0.08);
            color: #aaafb3;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.marketplace-link {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  color: #5d8ff0;
  font-weight: bold;
  font-size: 12px;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
}

.head-container {
  @media all and (max-width: 500px) {
    background: #1e1e2e;
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 0;
    width: calc(100% + 40px);
    flex-basis: calc(100% + 40px);
    max-width: none;

    > div {
      display: flex;
      align-items: center;
    }
  }
}
