@import 'styles/text.scss';

.wrapper {
  width: 750px;
  height: 294px;
  padding: 68px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.success-wrapper {
  // width: 500px;
  height: 244px;
  padding: 0px 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.spinner {
  animation: spin 3s infinite linear;
  width: 50px;
  height: 50px;
}

.heading {
  color: var(--theme-grey900-color);
  font-weight: 700;
}

.star-icon {
  width: 60px;
  height: 60px;
}

.subheading {
  color: var(--theme-accent-color);
}

.link-to-properties {
  color: var(--theme-grey900-color);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   25% {
//     transform: rotate(90deg);
//   }
//   50% {
//     transform: rotate(180deg);
//   }
//   75% {
//     transform: rotate(270deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
