.list-modal {
    .ant-modal-header {
        padding: 22px 22px 0px 22px;
        border-bottom: none;
        background: var(--theme-modal-color);
      }

      .ant-modal-close {
        top: 22px;
      }

      .drop-heading {
          margin-left: 5px;
      }

      .price-container {
        background: #1E1E2E;
        border-radius: 4px;
        padding: 10px 15px;
    }

    .price-eth-input {
      margin-left: 13px;
    }

    .price-usd-input {
      margin-right: 13px;
    }

    .action-btn {
      font-size: 14px;
      display: inline-block;
      padding: 10px 20px;
    }

    .step {
      font-size: 14px;
      font-weight: 700;
      margin-right: 10px;
    }

    .earning-text {
      font-size: 16px;
      font-weight: 700;
      color: rgba(93, 143, 240, 1);
    }

    .your-earning-container {
      background: rgba(93, 143, 240, 0.4);
      border: 1px solid #5D8FF0;
      border-radius: 4px;
      padding: 5px 10px;
    }
}
