@import '../../../../styles/variables.scss';
@import '../../../../styles/utils.scss';

.land-explore {
  &-card {
    display: block;
    position: relative;
    z-index: 0;
    cursor: pointer;
    background: $darkBlue02;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: box-shadow 0.2s ease-out, border 0.2s ease-out;
    padding: 15px;

    @media all and (max-width: 760px) {
      margin-bottom: 20px;
    }

    &.active,
    &:hover {
      box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.3);
      border: 2px solid var(--theme-primary-color);
    }
  }

  &-image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 160px;

    &-img {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      transform: translateY(-50%);
      transition: all 0.2s ease-out;
    }
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--theme-primary-color);
    text-transform: capitalize;
    line-height: 27px;
    margin-top: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  // &-ranking-row {
  //   margin-bottom: 12px;
  // }

  // &-rank {
  //   font-size: $text;
  //   color: $pinkish;
  // }

  // &-rarity-score {
  //   font-size: $text;
  //   color: $black;
  // }

  // &-info-row {
  //   margin-top: 16px;
  // }

  // &-id {
  //   font-size: 12px;
  // }

  &-divider {
    border: 1px solid #27273a;
    margin: 16px;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }
  }

  &-hashtags {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #68687b;
  }

  &-card-hot {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;

    background: linear-gradient(83.81deg, #ac2ccb -19.8%, #dd3dcb 22%, #ef9c92 100%);
    box-shadow: 0px 0px 20px rgba(221, 61, 203, 0.6);
    border-radius: 20px;
  }

  &-price-crypto {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--theme-grey900-color);
  }

  &-price {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--theme-subtle-color);
    margin: 0 5px;
  }

  &-rent-label,
  &-rent-value {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &-rent-label {
    color: var(--theme-subtle-color);
  }

  &-rent-value {
    color: var(--theme-grey900-color);
  }

  &-card {
    .info-icon {
      width: 16px;
      height: 16px;
    }
  }
}
