
@import '../../../../styles/utils.scss';

.land-explore {
  $card: &-card;

  &-card {
    display: block;
    position: relative;
    z-index: 0;
    cursor: pointer;
    background: var(--theme-card-color);
    border-radius: 20px;
    border: 2px solid transparent;
    transition: box-shadow 0.2s ease-out, border 0.2s ease-out;
    padding: 15px;

    @media all and (max-width: 760px) {
      margin-bottom: 20px;
    }

    &.active,
    &:hover {
      box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.3);
      border: 2px solid var(--theme-primary-color);
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    &__name-and-address {
      display: flex;
      flex-direction: column;
      gap: 2px;
      overflow: hidden;
      width: 100%;
    }

    &__name {
      font-size: 18px;
      font-weight: bold;
      color: var(--theme-primary-color);
      text-transform: capitalize;
      line-height: 27px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__address {
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: var(--theme-subtle-color);
    }

    &__price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__hashtags {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #68687b;
    }

    &__rent {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 160px;
    margin-bottom: 15px;

    &-img {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      transform: translateY(-50%);
      transition: all 0.2s ease-out;
    }
  }


  // &-ranking-row {
  //   margin-bottom: 12px;
  // }

  // &-rank {
  //   font-size: var(--font-size-p1);
  //   color: var(--theme-pinkish-color);
  // }

  // &-rarity-score {
  //   font-size: var(--font-size-p1);
  //   color: var(--theme-black-color);
  // }

  // &-info-row {
  //   margin-top: 16px;
  // }

  // &-id {
  //   font-size: 12px;
  // }

  &-divider {
    border: 1px solid #27273a;
    margin: 15px 0;
  }

  &-row {
    margin-top: 15px;

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }
  }

  &-card-hot {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;

    background: linear-gradient(83.81deg, #ac2ccb -19.8%, #dd3dcb 22%, #ef9c92 100%);
    box-shadow: 0px 0px 20px rgba(221, 61, 203, 0.6);
    border-radius: 20px;
  }

  &-price-crypto {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--theme-grey900-color);
  }

  &-price-amount {
    display: flex;
    align-items: center;
  }

  &-price-crypto-icon {
    width: 15px;
    height: 15px;;
    margin-right: 0.3rem;
  }

  &-price {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--theme-subtle-color);
    display: flex;
  }

  &-rent-label,
  &-rent-value {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &-rent-label {
    color: var(--theme-subtle-color);
  }

  &-rent-value {
    color: var(--theme-grey900-color);
  }

  &-card {
    .info-icon {
      width: 16px;
      height: 16px;
    }
  }

  // layout compact

  $root: &;

  &-card--layout-compact {
    padding: 10px;  
    border-radius: 10px;

    #{$root}-image {
      height: 100px;
      margin-bottom: 10px;
    }

    #{$root}-divider {
      margin: 10px 0;
    }

    #{$root}-row {
      margin-top: 10px;
    }
  }

  &-card--layout-compact &-card {
    &-hot {
      top: 5px;
      left: 5px;
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;
    }

    &__name-and-address {
      gap: 0;
    }

    &__name {
      font-size: 12px;
      line-height: 18px;
    }

    &__price {
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }

    &__hashtags {
      display: none;
    }
  }
}
