.button {
  height: 70px;
  background: var(--theme-card-color);
  border: 2px solid transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.4s ease-out;

  &:hover {
    border: 2px solid var(--theme-primary-color);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  }

  .walletIcon {
    transition: filter 0.2s ease-out !important;
    color: var(--theme-primary-color);
    width: 100%;
  }

  &:hover .walletIcon {
    filter: grayscale(0%) opacity(100%);
  }
}
