@import "../../../../styles/variables.scss";
@import "../../../../styles/text.scss";

.metapass-properties-container {
  margin: 37px 0px;

  .metapass-prop {
    padding: 12px 0px;
    background: $lightPink;
    border: 1px solid $pink;
    border-radius: 12px;
    text-align: center;

    .metapass-attribute {
      font-size: 10px;
      color: $black;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .metapass-trait {
      color: $black;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 3px;
    }

    .metapass-rarity {
      color: rgba(0, 0, 0, 0.4);
      font-size: 12px;
    }
  }
}
