@import 'src/styles/text';

.lands-nav-container {
  margin-right: auto !important;
  background-color: transparent;
  border: none;
  color: var(--theme-grey700-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }

  .divider {
    height: 20px;
    width: 2px;
    background: var(--theme-modal-color);
    margin: 0 31px;
    @media (max-width: 1000px) {
      margin: 0 20px;
    }
  }

  .nav-content {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      opacity: 1;
    }
    .active-tab {
      display: none;
    }
  }

  .tab {
    color: var(--theme-grey700-color);
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin: 0 12.5px;
    .icon {
      fill: var(--theme-grey700-color);
    }
  }

  .selected {
    color: var(--theme-grey900-color);
    position: relative;
    .icon {
      fill: var(--theme-grey900-color);
    }

    .active-tab {
      position: absolute;
      bottom: 0;
      height: 5px;
      width: 100%;
      border-radius: 2px 2px 0 0;
      background: var(--theme-accent-color);
      box-shadow: 0px 0px 7px 1px var(--theme-accent-color);
    }
  }
}
