@import '../../../../styles/variables.scss';
@import '../../../../styles/utils.scss';

.land {
  &-card-wrapper {
    color: $black;

    @media all and (max-width: 760px) {
      margin-bottom: 20px;
    }
  }

  &-card {
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.2s ease-out;
    background: none;
  }

  &-card:hover {
    box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.3);
    border: 2px solid var(--theme-primary-color);
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--theme-primary-color);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &-ranking-row {
    margin-bottom: 12px;
  }
  &-rank {
    font-size: $text;
    color: $pinkish;
  }
  &-rarity-score {
    font-size: $text;
    color: $black;
  }
  &-info-row {
    margin-top: 16px;
  }
  &-id {
    font-size: 12px;
  }
}
.enterdao-icon {
  width: 20px;
  height: 20px;
}
.ant-card-body {
  padding: 20px 15px;
  background-color: var(--theme-modal-color);
  border-radius: 10px;
}

.land-name {
  display: flex;
  justify-content: space-between;
}

.land-info-row {
  .price-eth-container {
    display: flex;
    align-items: center;
  }

  .land-owner {
    color: $brown;
    font-size: 12px;
    font-weight: 600;
  }

  .land-owner-address {
    color: #8e0f7e;
    font-size: 16px;
    font-weight: 600;
  }

  .price-eth {
    color: var(--theme-primary-color);
    margin-left: 5px;
    font-weight: 700;
    // width: calc(100% - 24px);
    font-size: 14px;
    height: 100%;
  }

  .eth-icon {
    height: 22px;
    width: 22px;
  }

  .land-price-info {
    .price {
      color: rgba(177, 174, 201, 1);
      font-size: 14px;
      margin-right: 5px;
    }

    .eth-icon {
      height: 20px;
      vertical-align: text-bottom;
    }

    .info-icon {
      height: 16px;
      vertical-align: text-bottom;
    }

    .per-day {
      color: rgba(177, 174, 201, 1);
    }

    button {
      border: none;
      background: none;
      padding: 0;
    }
  }
}

.image-list-wrapper {
  max-height: 200px;
  overflow: hidden;

  > div {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.land-available-row {
  text-align: end;
  margin-top: 16px;

  .available-heading {
    color: var(--theme-subtle-color);
    font-size: 12px;
    font-weight: 400;
  }

  .available-period {
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
}

.label {
  background: #1e1e2e;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
}

.card-name-hot-label {
  color: #dd3dcb;
  font-weight: 700;

  svg {
    margin-right: 3px;
    position: relative;
    bottom: -1px;
  }
}

.card-name-estate-label {
  margin-left: 10px;
  color: rgba(93, 143, 240, 1);
}

.price-chart-container {
  row-gap: 0px;
  position: absolute;
  background: white;
  top: 95%;
  border-radius: 6px;
  box-shadow: 0px 7px 16px rgba(233, 103, 189, 0.38);
  z-index: 1;
}
