@import '../../../../styles/variables.scss';
@import '../../../../styles/utils.scss';

.land {
  &-card-wrapper {
    color: $black;

    @media all and (max-width: 760px) {
      margin-bottom: 20px;
    }
  }

  &-card {
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.2s ease-out;
    background: none;
  }

  &-card:hover {
    box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.3);
    border: 2px solid var(--theme-primary-color);
  }

  &-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--theme-primary-color);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &-ranking-row {
    margin-bottom: 12px;
  }
  &-rank {
    font-size: $text;
    color: $pinkish;
  }
  &-rarity-score {
    font-size: $text;
    color: $black;
  }
  &-info-row {
    margin-top: 15px;
  }
  &-id {
    font-size: 12px;
  }
}

.separator {
  margin-top: 15px;
  border: 1px solid #33334b48;
}

.enterdao-icon {
  width: 20px;
  height: 20px;
}
.ant-card-body {
  padding: 15px;
  background-color: var(--theme-modal-color);
  border-radius: 10px;
  position: relative;
  z-index: 0;
}



.land-info-row {
  .land-name {
    font-size: 14px;
    margin: 0;
    text-transform: capitalize !important;
  }

  .price-eth-container {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .land-owner {
    color: $brown;
    font-size: 12px;
    font-weight: 600;
  }

  .land-owner-address {
    color: #B9B9D3;
    font-size: 12px;
    font-weight: 400;
  }

  .price-eth {
    color: var(--theme-primary-color);
    margin-left: 5px;
    font-weight: 700;
    // width: calc(100% - 24px);
    font-size: 14px;
    height: 100%;
  }

  .eth-icon {
    height: 15px;
    width: 15px;
  }

  .land-price-info {
    justify-content: end;
    .price {
      color: rgba(177, 174, 201, 1);
      font-size: 12px;
      margin-right: 5px;
    }

    .eth-icon {
      height: 20px;
      vertical-align: text-bottom;
    }

    .info-icon {
      height: 16px;
      vertical-align: text-bottom;
    }

    .per-day {
      color: rgba(177, 174, 201, 1);
      font-size: 12px;
    }

    button {
      border: none;
      background: none;
      padding: 0;
    }
  }
}

.image-list-wrapper {
  max-height: 160px;
  overflow: hidden;
  border-radius: 10px;

  > div {
    max-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.land-available-row {
  margin-top: 16px;

  .available-heading {
    color: var(--theme-subtle-color);
    font-size: 12px;
    font-weight: 400;
  }

  .available-period {
    color: #F8F8FF;
    font-size: 12px;
    font-weight: 600;
  }
}

.label {
  background: #1e1e2e;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  position: relative;
}

.label-row {
  position: absolute;
  top: 5px;
  width: 95%;
  z-index: 1;
  .card-hot-label {
    background: linear-gradient(83.81deg, #AC2CCB -19.8%, #DD3DCB 22%, #EF9C92 100%);
    box-shadow: 0px 0px 20px rgba(221, 61, 203, 0.6);
  }
}

.card-hot-label{
  border-radius: 20px;
  font-weight: 700;
  left: -10px;

  svg {
    position: relative;
    bottom: -2px;
    height: 18px;
    width: 18px;
  }
}


.price-chart-container {
  row-gap: 0px;
  position: absolute;
  background: white;
  top: 95%;
  border-radius: 6px;
  box-shadow: 0px 7px 16px rgba(233, 103, 189, 0.38);
  z-index: 1;
}

.button {
  &-label {
    height: 8px;
    width: 8px;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 7px;
   
  }
  &-available-dot {
    background-color: #6CD27E;
  }
  &-rented-dot {
    background-color: #D7606E;
  }
  &-delisted-dot {
    background-color: darkgray;
  }
  &-section {
    display: flex;
    align-items: center;
    justify-content: end;
    button {
      border: none;
      background: transparent;
      padding: 7px 11px;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
  }
  
  &-available {
    border: 1px solid #6CD27E !important;
  }
  &-rented {
    border: 1px solid #D7606E !important;
  }
  &-delisted {
    border: 1px solid darkgray !important;
    background-color: rgba(169, 169, 169, 0.05) !important;
  }
}

.hashtag-row {
  margin-top: 15px;
  p {
    font-size: 12px;
    color: #68687B;
    margin-right: 8px;
    text-transform: uppercase;
  }
}
