.root {
  position: absolute;
  bottom: 4%;
  right: 4%;
  display: block;
  background-color: #161622;
  padding: 16px;
  border-radius: 20px;
  width: fit-content;
  
  .title {
    font-size: 14px;
    color: #fff;
  }
}

.chip {
  background-color: #1e1e2e !important;
  color: var(--theme-subtle-color) !important;
  font-size: 12px !important;
  border-radius: 5px !important;
  height: 28px !important;
  margin: 2px !important;
  // width: 100%;
  // white-space: nowrap;
}
