@import "../../../../styles/variables.scss";
@import "../../../../styles/text.scss";


.rent-lands-pagination {
  margin-top: 60px;

  .ant-pagination-options-size-changer {
    position: absolute;
    right: 0;
    top: 0;
    .ant-select-selector {
      background: none;
    }

    .ant-select-arrow {
      color: white;
    }
  }

  .ant-pagination-item, .ant-pagination-item-link, .ant-select-selector {
    color: $white;
    border-radius: 10px;
    a {
      color: $white;
    }
    font-weight: 700;
    background: none;

    &:hover {
      border: 1px solid #E255CF;
    }
  }

  .ant-select-selector {
    border: 1px solid #F2EDF1 !important;
  }

  .ant-pagination-item-active {
    background: none;
    border: 1px solid #E255CF;
    a {
      color: $white !important;
    }
  }

  .ant-pagination-options {
    display: inline-block;
  }
}
