@import '../../../../styles/variables.scss';

.place-sort-wrapper {
  border-radius: 5px;
  display: flex;
  border: 1px solid $grayish;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: $pinkish;
  box-shadow: 0px 4px 11px rgba(255, 255, 255, 0.2);
  border-radius: 23px;
  padding: 5px 20px;

  .label {
    color: var(--theme-subtle-color);
    font-size: 14px;
    margin-left: 10px;
  }
}

.sort-image {
  width: 30px;
  height: 24px;
}
