@import "../../../../styles/variables.scss";
@import "../../../../styles/utils.scss";

.quantity--input--group {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;

    .label--block {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
    }
    .controll-box {
        width: 75%;
        max-width: 140px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 12px;
        margin-left: 5px;
        button {
            height: 40px;
            width: 40px;
            color: white;
            font-size: 35px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 100;
            background-color: rgba(255, 255, 255, 0.25);
            margin: 3px 0px;
            position: relative;
            transition: 0.2s;
            border: 0;
        }

        .up--quantity--horizontal {
            width: 40%;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: #ffffff;
        }

        .up--quantity--vertical {
            width: 40%;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: #ffffff;
            transform: rotate(90deg);
        }
        .value {
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 16px;
        }
    }

    // Mobile styles
    @include md {
        justify-content: center;
        height: 100%;
    }

    @include md {
        .controll-box {
            width: 61%;
            padding: 2px 3px;
        }
    }
}